<section id="add-to-set" class="reveal-modal">
  <div class="modal-header">
    <h4>Add to Set</h4>
    <a class="close-reveal-modal">&#215;</a>
  </div> <!-- end modal-header -->

  <div class="modal-wrapper">
  </div> <!-- end modal-wrapper -->

  <section class="modal-footer">

    <div class="modal-submit">
      <button type="submit" class="alert  radius  expand  button" form="search-form"><i class="icon-plus  icon-large"></i> Add to Set</button>
    </div>

  </section> <!-- end modal-footer -->

</section> <!-- end reveal-modal -->
