<section id="edit-post" class="reveal-modal">
  <div class="modal-header">
    <h4>Edit Post</h4>
    <a class="close-reveal-modal">&#215;</a>
  </div> <!-- end modal-header -->

  <div class="modal-wrapper">

  </div> <!-- end modal-wrapper -->

  <section class="modal-footer">
    <div class="modal-submit">
      <button type="submit" class="success  radius  expand  button" form="search-form"><i class="icon-cloud-upload  icon-large"></i> Save Changes</button>
    </div>
  </section> <!-- end modal-footer -->

</section> <!-- end reveal-modal -->
