<li class="list-view-post">
	<div class="row">
		<div class="list-view-post-image">

		<div class="list-view-select-post  js-list-view-select-post">
			<form>
				<label class="visually-hidden" for="select-post">Select Post</label>
				<input type="checkbox" id="select-post">
			</form>
		</div>
		<img src="{{ site.baseurl }}/images/london-underground.png" alt="">
		</div> <!-- end .list-view-post-avatar -->

		<div class="list-view-post-details">
			<div class="row">
				<h5 class="list-view-post-title"><a href="#">Massive undertaking to expand and improve the London Underground. </a> <i class="icon-lock"></i></h5>
				<div class="list-view-post-time">
					<p> <i class="icon-time"></i>Today 12:20 pm</p>
				</div> <!-- end .list-view-post-time -->
			</div> <!-- end .row -->
		</div> <!-- end .list-view-post-details -->

		<div class="list-view-post-excerpt">
			<p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus <a href="#"><span class="read-more">...&nbsp;Read&nbsp;More</span></a></p>
		</div> <!-- end .list-view-post-excerpt -->

				<div class="list-view-post-admin">

					<div class="list-view-post-categories-wrapper">
						<ul class="list-view-post-categories">
							<li><button class="button  small  secondary  expand"> <i class="icon-circle"></i> Transport</button></li>
							<li><button class="button  small  secondary  expand"> <i class="icon-circle"></i> London</button></li>
							<li><button class="button  small  secondary  expand"> <i class="icon-circle"></i> Graphic Design</button></li>
						</ul>
					</div> <!-- end .list-view-post-categories-wrapper -->

					<div class="list-view-post-edit-wrapper">
						<ul class="list-view-post-edit">
							<li><a href="#" class="button  small  secondary  post-edit"> <i class="icon-edit"></i> <span class="hide-for-medium-down"</span>edit</a></li>
							<li><a href="#" class="button  small  secondary  post-set"> <i class="icon-plus-sign"></i> <span class="hide-for-medium-down"</span>set</a></li>
							<li><a href="#" class="button  small  secondary  post-unpublish"> <i class="icon-file"></i> <span class="hide-for-medium-down"</span>unpublish</a></li>
							<li><a href="#" class="button  small  secondary  post-delete"> <i class="icon-trash"></i></a></li>
						</ul> <!-- end .list-view-post-edit -->
					</div> <!-- end .list-view-post-edit-wrapper -->

				</div> <!-- end .list-view-post-admin -->
	</div> <!-- end row -->
</li> <!-- end .list-view-post -->
