
<div class="add-to-report-wrapper">
<!--   <div class="add-to-report"><i class="icon-plus"></i></div> -->
  <!-- admin area becomes off canvas on mobile -->
  <div class="admin-off-canvas"><i class="icon-reorder"></i></div>
</div>

<!-- display none on mobile for now -->
<!-- TODO: work out off canvas -->
<div class="admin-wrapper">
  <div class="admin">
    <div class="admin-notifications">3</div>
    <div class="admin-avatar"></div>
    <div class="admin-menu">
      <!-- TODO: build out admin menu -->
      <a href="#">
        <span class="caret"></span>
      </a>
      <!-- NOTE: need dynamic usernames/roles here -->
      <p class="username">Dude Bro</p>
      <p class="admin-role small">Super Admin</p>
    </div>
  </div>
</div>
