<section class="post-details">
  <div class="post-header">
    <div class="post-category-marker">
      <img src="{{ site.baseurl }}/images/category-icon.png" alt="">
    </div> <!-- end .post-category-marker -->

    <div class="post-title">
      <h6>Car hits tree after skidding off road.</h6>
      <div class="row">
        <div class="post-title-tag">
          <h6 class="subheader">collision</h6>
        </div>
      </div>
    </div> <!-- end .post-title -->

    <div class="post-actions">
      <button class="small secondary button"> <i class="icon-edit"></i>edit</button>
      <button class="small secondary button"> <i class="icon-plus-sign"></i>set</button>
    </div> <!-- end .post-actions -->
  </div> <!-- end .post-header -->

  <div class="post-body">
    <div class="post-image">
      <img src="{{ site.baseurl }}/images/car-tree.jpg" alt="">

      <div class="row">

        <div class="post-location-meta">
          <h5><small> <i class="icon-map-marker"></i><span class="post-location underline" ><a href=""> London, UK</a></span></small></h5>
        </div> <!-- end .post-location-meta -->

        <div class="post-time-meta">
          <h5><small> <i class="icon-time"></i><strong class="post-time" > 1 hour ago</strong></small></h5>
        </div> <!-- end .post-time-meta -->

        <div class="post-privacy-status">
          <h5><small> <i class="icon-lock"></i><strong class="post-time" > Private</strong></small></h5>
        </div> <!-- end .post-privacy-status -->

      </div> <!-- end .row -->

    </div> <!-- end .post-body -->

    <div class="post-details">

      <div class="post-author">
        <h6><small><span class= "underline"><a href="">DUDE BRO</a> </span>ADDED A POST</small></h6>
      </div> <!-- end .post-author -->

      <div class="post-excerpt">
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div> <!-- end .post-excerpt -->

    </div> <!-- end .post-details -->
    <hr>
    <div class="post-thumbnails-wrapper">
      <ul class="post-thumbnails lightbox-gallery">
        <li><a href="{{ site.baseurl }}/images/car-tree.jpg"><img src="{{ site.baseurl }}/images/car-tree.jpg" alt=""></a></li>
        <li><a href="{{ site.baseurl }}/images/car-tree.jpg"><img src="{{ site.baseurl }}/images/car-tree.jpg" alt=""></a></li>
        <li><a href="{{ site.baseurl }}/images/car-tree.jpg"><img src="{{ site.baseurl }}/images/car-tree.jpg" alt=""></a></li>
        <li><a href="{{ site.baseurl }}/images/car-tree.jpg"><img src="{{ site.baseurl }}/images/car-tree.jpg" alt=""></a></li>
      </ul>
    </div> <!-- end .post-thumbnails-wrapper -->
  </div> <!-- end .post-body -->
</section> <!-- end .post -->
