<article id="leaflet-marker-pane" class="post-overlay" data-dropdown-content>

	<div class="post-header">
		<div class="row">
			<div class="post-category-marker">
				<img src="{{ site.baseurl }}/images/category-icon.png" alt="">
			</div> <!-- end .post-category-marker -->

			<div class="post-title">
				<h6><a href="{{ site.baseurl }}/post-details.html">Mini Cooper spotted in the streets of London.</a></h6>
			</div> <!-- end .post-title -->

			<div class="post-actions">
				<button class="small  secondary  radius  button"> <i class="icon-edit"></i>edit</button>
				<button class="small  secondary  radius  button"> <i class="icon-plus-sign"></i>set</button>
			</div> <!-- end .post-actions -->
		</div> <!-- end .row -->
	</div> <!-- end .post-header -->

	<div class="post-body">
		<div class="row">
			<div class="post-image">
				<img src="{{ site.baseurl }}/images/mini-coop.jpg" alt="">
			</div> <!-- end .post-image -->

			<div class="post-details">
				<div class="post-author">
					<h6><small><span class= "underline"><a href="">DUDE BRO</a> </span>ADDED A POST</small></h6>
				</div> <!-- end .post-author -->

				<div class="post-excerpt">
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla<a href="#"><span class="read-more"> ...&nbsp;Read&nbsp;More</span></a></p>
				</div> <!-- end .post-excerpt -->
			</div> <!-- end .post-details -->
		</div> <!-- end .row -->

		<div class="row">
			<div class="post-meta">
				<h6>Post Details</h6>
				<div class="post-location-meta">
					<p><i class="icon-map-marker"></i><span class="post-location  underline" ><a href=""> London, UK</a></span></p>
				</div> <!-- end .post-location-meta -->

				<div class="post-time-meta">
					<p><i class="icon-time"></i><strong class="post-time" > 1 hour ago</strong></p>
				</div> <!-- end .post-time-meta -->

				<div class="post-privacy-status">
					<p><i class="icon-lock"></i><strong class="post-time" > Private</strong></p>
				</div> <!-- end .post-privacy-status -->
			</div> <!-- end .post-meta-wrapper -->

			<div class="post-categories">
				<h6>Categories</h6>
				<ul>
					<a href="#"><li><i class="icon-circle" style="color: #C50813"></i>Automobiles</li></a>
					<a href="#"><li><i class="icon-circle" style="color: #23699D;"></i>Transport</li></a>
					<a href="#"><li><i class="icon-circle" style="color: #4fa425;"></i>London</li></a>
					<a href="#"><li><i class="icon-circle" style="color: #baac29;"></i>Retro</li></a>
				</ul>
			</div> <!-- end .post-title-categories -->
		</div>

		<div class="row">
			<div class="post-details-button">
				<button class="small  success  radius  button"><i class="icon-lock"></i>  details</button>
			</div> <!-- end .post-details-button -->
		</div> <!-- end .row -->

	</div> <!-- end .post-body -->

</article>
