<div id="leaflet-marker-pane" class="report-overlay" data-dropdown-content>

  <div class="report-overlay-header">
    <div class="row">
      <div class="report-overlay-category-marker">
        <img src="{{ site.baseurl }}/images/category-icon.png" alt="">
      </div>

      <div class="report-overlay-title">
        <h6>Car hits tree after skidding off road.</h6>
        <div class="row">
          <div class="report-overlay-title-tag">
            <h6 class="subheader">collision</h6>
          </div>
        </div>
      </div>

      <div class="report-overlay-actions">
        <button class="tiny secondary button"> <i class="icon-edit"></i>edit</button>
        <button class="tiny secondary button"> <i class="icon-plus-sign"></i>set</button>
      </div>
    </div>
  </div>

  <div class="report-overlay-body">
    <div class="row">

      <div class="report-overlay-image">
        <img src="{{ site.baseurl }}/images/car-tree.jpg" alt="">
      </div>

      <div class="report-overlay-details">

        <div class="report-overlay-author">
          <h6><small><span class= "underline">DUDE BRO </span>ADDED A POST</small></h6>
        </div>

        <div class="report-overlay-excerpt">
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <hr>
        </div>


      </div> <!-- end .report-overlay-details -->

      <div class="row">

        <div class="report-overlay-location-meta">
          <h5><small> <i class="icon-map-marker"></i><span class="report-overlay-location underline" >London, UK</span></small></h5>
        </div>

        <div class="report-overlay-time-meta">
          <h5><small> <i class="icon-time"></i><strong class="report-overlay-time" >1 hour ago</strong></small></h5>
        </div>

        <div class="report-overlay-details-button">
          <button class="tiny success button"><i class="icon-lock"></i>  details</button>
        </div>

      </div>

    </div> <!-- end .row -->
  </div> <!-- end .report-overlay-body -->

</div>
