<div class="search-bar-border"></div>
<div class="search-bar">
  <div class="search-bar-button-bg"></div>
  <div id="collapse-map" class="collapse-map">
    <p>collapse map</p>
  </div>

  <form id="search-form" action="">
    <div class="search-form-wrapper">
      <input aria-labelledby="search-label" type="search" class="search-field" placeholder="Search keyword" value="">
    </div>
    <div class="search-button-wrapper">
      <input type="submit" value="SEARCH" class="button search-button">
    </div>
  </form>
</div>
