<div class="sticky">

  <nav role="navigation" class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <!-- retina ready logo is a css background image -->
    <li class="name">
      <div class="logo-image"></div>
      <h1><a href="/">Deployment Name</a></h1>
    </li>
    <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#" data-dropdown="drop1"><i class="icon-eye-open"></i> VIEWS</a></li>
      <li class="divider"></li>
      <li><a href="#" data-dropdown="drop2"><i class="icon-th-large"></i> SETS</a></li>
      <li class="divider"></li>

      <ul id="drop1" class="f-dropdown" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>

      <ul id="drop2" class="f-dropdown content" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>

    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="create-post show-for-medium-up"><a href="#" data-reveal-id="createPost"><i class="icon-plus"></i> CREATE</a></li>
      <li class="create-post show-for-small"><a href="#" data-reveal-id="createPost"><i class="icon-plus"></i></a></li>
      <li class="show-for-medium-up"><a id="admin-panel-button" class="admin-panel-button" href="#admin-panel"><i class="icon-dashboard"></i> WORKSPACE</a><i class="icon-reorder icon-large"></i></li>
      <li class="show-for-small"><a id="admin-panel-button" class="admin-panel-button" href="#admin-panel"><i class="icon-dashboard"></i></a><span class="triangle-right"></span></li>
    </ul>
  </section>
  </nav>

</div>
