* {
  @include box-sizing(border-box);
}

/*Font-Awesome global icon padding*/
i {
  padding-right: 10px;
}

/*input[type="text"],
input[type="url"],
textarea {
  width: 95%;
  margin: 10px 10px 0 10px;
  padding: 10px;
  background-color: lighten($blueGray, 45%);
  border: 0px;
}*/
