/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * TOPBAR-LOGIN/REGISTER...............topbar styles on login and register page
 * LOGIN...............account login styles
 * REGISTER...............account register styles
 */




 /*------------------------------------*\
 		$TOPBAR-LOGIN/REGISTER
 \*------------------------------------*/

.top-bar-section-login {
	ul.right{
		width: auto;
	}
	li.show-for-medium-down a {
		padding: 0 18px;
		i {
			font-size: 18px;
			padding: 0;
		}
	}
}




 /*------------------------------------*\
 		$LOGIN
 \*------------------------------------*/





 /*------------------------------------*\
 		$REGISTER
 \*------------------------------------*/




