/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * SUBNAV............all subnav styles
 */




/*------------------------------------*\
    $SUBNAV
\*------------------------------------*/

nav[role="sub-navigation"] {
  @include grid-column(12, $collapse: true);
  background-color: $white;
  @extend .box-shadow;
  ul {
    margin: 0;
  }
}

nav[role="sub-navigation"] ul {
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
      -ms-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
          transition: opacity .3s ease;
}

/*subnav reveal for mobile menu*/
nav[role="sub-navigation"] ul.subnav {
  display: block;
  opacity: 1;
}

nav[role="sub-navigation"] ul li.active>a {
  background: $blueGray;
  color: $white;
}

nav[role="sub-navigation"] li {
  display: block;
  @media #{$small} {
    float: left;
    clear: none;
  }
}

nav[role="sub-navigation"] li a {
  display: block;
  padding: 20px 20px;
  color: $blueGray;
  border-bottom: 1px solid $lightGray;
  @media #{$small} {
    float: left;
    padding: 20px 30px;
    border-bottom: 0;
  }
}

nav[role="sub-navigation"] li:focus,
nav[role="sub-navigation"] li:active {
}
